doctype html
html(lang='en')

	head

		meta(charset='utf-8')
		meta(http-equiv='x-ua-compatible' content='ie=edge')
		meta(name='robots' content='index, follow')
		meta(name='theme-color' content='#ffffff')
		meta(name='apple-mobile-web-app-status-bar-style' content='#ffffff')
		meta(name='apple-mobile-web-app-capable' content='yes')
		meta(name='viewport' content='width=device-width, initial-scale=1')
		meta(name='author' content='CJ Patoilo')
		meta(name='description' content='Website Boilerplate provides a expressive boilerplate for a fast starting point.')
		meta(property='og:url' content='http://websiteboilerplate.com')
		meta(property='og:type' content='website')
		meta(property='og:title' content='Website Boilerplate - A super simple boilerplate project for websites.')
		meta(property='og:description' content='Website Boilerplate provides a expressive boilerplate for a fast starting point.')
		meta(property='og:image' content='images/thumbnail.jpg')
		meta(name='twitter:card' content='summary_large_image')
		meta(name='twitter:site' content='http://websiteboilerplate.com')
		meta(name='twitter:creator' content='CJ Patoilo')
		meta(name='twitter:title' content='Website Boilerplate - A super simple boilerplate project for websites.')
		meta(name='twitter:description' content='Website Boilerplate provides a expressive boilerplate for a fast starting point.')
		meta(name='twitter:image' content='images/thumbnail.jpg')
		block title
			title Website Boilerplate - A super simple boilerplate project for websites.
		link(rel='manifest' href='manifest.json')
		link(rel='icon' href='images/favicon.png')
		link(rel='apple-touch-icon' href='images/apple-touch-icon.png')
		link(rel='canonical' href='http://websiteboilerplate.com')
		link(rel='image_src' href='images/thumbnail.jpg')
		link(rel='stylesheet' href='lib/normalize.css/normalize.css')
		link(rel='stylesheet' href='lib/milligram/dist/milligram.min.css')
		link(rel='stylesheet' href='styles/main.min.css')

	body

		block content

		script(src='scripts/main.min.js' async defer)
